# pandas review and wrap up(column, summarize, apply)
* * *

### df.filter(regex =  ' ')
##### regex 는 정규식 표현으로 df를 필터링할 수 있는 파라미터다.
    '_'  : 칼럼에 _ 이 들어있는 칼럼을 골라낸다. 
    'length$':length로 끝나는 칼럼을 골라낸다 ($)
    '^sepal' : sepal로 시작하는 칼럼을 골라낸다(^). 
    '^(?!species$).*' : species가 포함된 컬럼 제외한 컬럼 //Matches strings except the string 'Species'
    '^x[1-5]$' :  x로 시작하면서 x다음에 오는 숫자 1부터 5까지오는 칼럼만 필터, // 
        Matches strings beginning with 'x' and ending with 1,2,3,4,5
    
### df.loc[2:7, 'sepal_length' : 'sepal_width'] (df.loc[row, column])
### df.iloc[2:7, [0,1]]  
    loc은 2:7에서 2<= <=7 , iloc은 2:7에서 2<= <7 이다.

### df['petal_length'].nunique()
### df['species'].value_counts()
### df.describe(include='all') , (=[np.number]), (= [np.object])
### df.sum(), .min(), .max(), .std(), .var(), .counts(), .median(), .mean(), .quantile()
### df['species_3'] = df['species'].apply(lambda x : x[:3])
### df['species_-4'] = df['species'].apply(sam)

In [3]:
import seaborn as sns
import pandas as pd

In [6]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
columns = ['sepal_length', 'sepal_width', 'species']
df[columns].head()

   sepal_length  sepal_width species
0           5.1          3.5  setosa
1           4.9          3.0  setosa
2           4.7          3.2  setosa
3           4.6          3.1  setosa
4           5.0          3.6  setosa

In [12]:
df.filter(regex = '_').head() # regex : 정규식을 넣어서 필터링할 수 있다

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [14]:
df.filter(regex= 'length$').head() #  $ : length로 끝나는 단어인 컬럼 가져온다. 대소문자 구분해야함.

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [15]:
df.filter(regex= '^sepal').head()  # ^ : sepal로 시작하는 컬럼을 가져온다.

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [17]:
df.filter(regex= '^(?!species$).*').head() # ^(?!species$).* : species가 포함된 컬럼 제외한 컬럼 //Matches strings except the string 'Species'

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [19]:
df.filter(regex = '^x[1-5]$').head() #x로 시작하면서 x다음에 오는 숫자 1부터 5까지오는 칼럼만 필터, Matches strings beginning with 'x' and ending with 1,2,3,4,5

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [21]:
df.loc[2:7, 'sepal_length' : 'sepal_width'] #df.loc[row, column]

   sepal_length  sepal_width
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

In [28]:
df.iloc[2:7, [0,1]] #loc은 2:7에서 2<= <=7 , iloc은 2:7에서 2<= <7 이다.

   sepal_length  sepal_width
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4

In [31]:
df.loc[df['sepal_length']>3, ['petal_width', 'sepal_width']].head()

   petal_width  sepal_width
0          0.2          3.5
1          0.2          3.0
2          0.2          3.2
3          0.2          3.1
4          0.2          3.6

In [34]:
df = sns.load_dataset('iris')
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [36]:
df['species'].value_counts()
df['petal_length'].value_counts()

1.5    13
1.4    13
5.1     8
4.5     8
1.3     7
1.6     7
5.6     6
4.0     5
4.9     5
4.7     5
4.8     4
1.7     4
4.4     4
4.2     4
5.0     4
4.1     3
5.5     3
4.6     3
6.1     3
5.7     3
3.9     3
5.8     3
1.2     2
1.9     2
6.7     2
3.5     2
5.9     2
6.0     2
5.4     2
5.3     2
3.3     2
4.3     2
5.2     2
6.3     1
1.1     1
6.4     1
3.6     1
3.7     1
3.0     1
3.8     1
6.6     1
6.9     1
1.0     1
Name: petal_length, dtype: int64

In [41]:
len(df) == df.shape[0]

True

In [43]:
df['petal_length'].nunique()

43

In [52]:
import numpy as np
df.describe(include='all')
df.describe(include=[np.number])
df.describe(include = [np.object])

       species
count      150
unique       3
top     setosa
freq        50

In [68]:

print('sum:', df['petal_length'].sum())
print('mean:', df['petal_length'].mean())
print('median:', df['petal_length'].median())
print('var:', df['petal_length'].var())
print('std:', df['petal_length'].std())
print('min:', df['petal_length'].min())
print('max:', df['petal_length'].max())
print('count:', df['petal_length'].count())
print('quantile:',df['petal_length'].quantile())

sum: 563.7
mean: 3.7580000000000005
median: 4.35
var: 3.116277852348993
std: 1.7652982332594662
min: 1.0
max: 6.9
count: 150
quantile: 4.35

## df.appy(function)

In [73]:
df['species_3'] = df['species'].apply(lambda x : x[:3])

In [74]:
def sam(x):
    x = x[-4:]
    return x

In [76]:
df['species_-4'] = df['species'].apply(sam)
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species_-4
0,5.1,3.5,1.4,0.2,setosa,set,tosa
1,4.9,3.0,1.4,0.2,setosa,set,tosa
2,4.7,3.2,1.3,0.2,setosa,set,tosa
3,4.6,3.1,1.5,0.2,setosa,set,tosa
4,5.0,3.6,1.4,0.2,setosa,set,tosa
5,5.4,3.9,1.7,0.4,setosa,set,tosa
6,4.6,3.4,1.4,0.3,setosa,set,tosa
7,5.0,3.4,1.5,0.2,setosa,set,tosa
8,4.4,2.9,1.4,0.2,setosa,set,tosa
9,4.9,3.1,1.5,0.1,setosa,set,tosa
10,5.4,3.7,1.5,0.2,setosa,set,tosa
11,4.8,3.4,1.6,0.2,setosa,set,tosa
12,4.8,3.0,1.4,0.1,setosa,set,tosa
13,4.3,3.0,1.1,0.1,setosa,set,tosa
14,5.8,4.0,1.2,0.2,setosa,set,tosa
15,5.7,4.4,1.5,0.4,setosa,set,tosa
16,5.4,3.9,1.3,0.4,setosa,set,tosa
17,5.1,3.5,1.4,0.3,setosa,set,tosa
18,5.7,3.8,1.7,0.3,setosa,set,tosa
19,5.1,3.8,1.5,0.3,setosa,set,tosa
20,5.4,3.4,1.7,0.2,setosa,set,tosa
21,5.1,3.7,1.5,0.4,setosa,set,tosa
22,4.6,3.6,1.0,0.2,setosa,set,tosa
23,5.1,3.3,1.7,0.5,setosa,set,tosa
24,4.8,3.4,1.9,0.2,setosa,set,tosa
25,5.0,3.0,1.6,0.2,setosa,set,tosa
26,5.0,3.4,1.6,0.4,setosa,set,tosa
27,5.2,3.5,1.5,0.2,setosa,set,tosa
28,5.2,3.4,1.4,0.2,setosa,set,tosa
29,4.7,3.2,1.6,0.2,setosa,set,tosa
...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,vir,nica
121,5.6,2.8,4.9,2.0,virginica,vir,nica
122,7.7,2.8,6.7,2.0,virginica,vir,nica
123,6.3,2.7,4.9,1.8,virginica,vir,nica
124,6.7,3.3,5.7,2.1,virginica,vir,nica
125,7.2,3.2,6.0,1.8,virginica,vir,nica
126,6.2,2.8,4.8,1.8,virginica,vir,nica
127,6.1,3.0,4.9,1.8,virginica,vir,nica
128,6.4,2.8,5.6,2.1,virginica,vir,nica
129,7.2,3.0,5.8,1.6,virginica,vir,nica
130,7.4,2.8,6.1,1.9,virginica,vir,nica
131,7.9,3.8,6.4,2.0,virginica,vir,nica
132,6.4,2.8,5.6,2.2,virginica,vir,nica
133,6.3,2.8,5.1,1.5,virginica,vir,nica
134,6.1,2.6,5.6,1.4,virginica,vir,nica
135,7.7,3.0,6.1,2.3,virginica,vir,nica
136,6.3,3.4,5.6,2.4,virginica,vir,nica
137,6.4,3.1,5.5,1.8,virginica,vir,nica
138,6.0,3.0,4.8,1.8,virginica,vir,nica
139,6.9,3.1,5.4,2.1,virginica,vir,nica
140,6.7,3.1,5.6,2.4,virginica,vir,nica
141,6.9,3.1,5.1,2.3,virginica,vir,nica
142,5.8,2.7,5.1,1.9,virginica,vir,nica
143,6.8,3.2,5.9,2.3,virginica,vir,nica
144,6.7,3.3,5.7,2.5,virginica,vir,nica
145,6.7,3.0,5.2,2.3,virginica,vir,nica
146,6.3,2.5,5.0,1.9,virginica,vir,nica
147,6.5,3.0,5.2,2.0,virginica,vir,nica
148,6.2,3.4,5.4,2.3,virginica,vir,nica
149,5.9,3.0,5.1,1.8,virginica,vir,nica